.serviceWrapper {
  margin-bottom: 24px;
  margin-left: 16px;
}
.serviceName {
  letter-spacing: 1.5px;
  font-family: "Chronicle Deck Cond";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
