.page {
  background-color: #f9f9f9;
}
.extraBox {
  height: 40px;
  width: 291px;
  background-color: #FFFFFF;
  margin: 16px 4px 16px 16px;
  position: relative;
  display: flex;
}
.extraContent {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 17px;
}

.extraText {
  margin-left: 16px;
}

.extraPlus {
  height: 40px;
  width: 56px;
  margin-right: 4px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extraWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.plus {
  background-image: url('../../icons/laggTill.svg');
  background-repeat: no-repeat;
  background-size: contain;
  right: 11.82px;
  bottom: 42.82px;
  height: 17.36px;
  width: 20px;
  margin: 0;
  padding: 0;
}
