li {
  list-style: none;
}
.backToMainPage {
  background-image: url('./../icons/bakot_pil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 12px;
  left: 12px;
  height: 20px;
  width: 24px;
}

.page {
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  background-repeat: no-repeat;
  background-size: cover;
  height: 55.81px;
  width: 42.38px;
}
.newsIcon {
  background-image: url('./../icons/ballongPink.svg');
}
.contactIcon
{
  margin:10px;
  width:55px;
  background-image: url('./../icons/contacts.svg');
}
.driftIcon{
  margin:10px;
  width:55px;
  background-image: url('./../icons/driftstorning.svg');
}
.Box {
  height: 104px;
  width: 343px;
  background-color: #FFFFFF;
  margin: 16px;
  position: relative;
}
.images {
  float: left;
  background-repeat: no-repeat;
	height: 104px;
  width: 104px;
  border-radius: 3px;
  background-size: cover;

}
.contactOne
{
  background-image: url('./../images/stig.png');
}
.contactTwo
{
  background-image: url('./../images/jeanette.png');
}
.contactThree
{
  background-image: url('./../images/roy.png');
}
.driftOne
{
background-image: url('./../icons/hjalm.svg');
}
.driftTwo
{
background-image: url('./../icons/mala.svg');
}
.driftThree
{
background-image: url('./../icons/vatten_stopp.svg');
}

.newsImage {
  background-image: url('./../images/cykel.png');
}

.Two {
  background-image: url('./../images/graduation.png');
}

.Three {
  background-image: url('./../images/milkensdag.png');
}

.Content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 46px;
}
.contentBold {
  display: flex;
  justify-content: flex-start;
  margin-left: 66px;
  margin-top: 23px;
	height: 21px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 22px;
}

.contentLight {
  display: flex;
  justify-content: flex-start;
  margin-left: 67px;
  height: 21px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 19px;
}

.Header {
	height: 24px;
  color: #000000;
  font-family: "Chronicle Deck Cond";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 29px;
  text-align: center;
  margin-top:
}
.School {
  height: 27px;
  width: 197px;
  color: #000000;
  font-family: "Chronicle Deck Cond";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 19px;
  text-align: center;
  margin-top: 18px;
}
.newsArrow {
  background-image: url('./../icons/framot_pil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 11.82px;
  bottom: 42.82px;
  height: 17.36px;
  width: 20px;
  margin: 0;
  padding: 0;
}
.callIcon
{
  background-image: url('./../icons/ring.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

  right: 45.82px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

.mailIcon
{
  background-image: url('./../icons/meddelande.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 85.82px;

  bottom: 10px;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}
/*error handling*/
.page.error div{
display:flex;
align-items: flex-start;
flex-direction: column;
padding:10px;
}
.page.error .name, .email, .phone {
  width:80%;
}
.page.error .adress {
  width:70%;
}
.page.error {
  left: 15px;
  width: 92%;
  border-radius: 3px;
  background-color: #0094BB;
}
