* {
    margin: 0;
    padding: 0;
}
.firstMenu a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 22px;
}

.box {
  background-color: #6EC81E;
  height: 40px;
  width: 344px;
  border-radius: 3px;
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 72px;
}
.firstPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chooseCampus {
  margin-top: 109px;
	height: 24px;
  width: 155px;
  color: #070707;
  font-family: "Chronicle Deck Cond";
  font-size: 24px;	font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 29px;
  text-align: center;
}
.ahusLogo {
  background-image: url('../icons/AH_srgb.png');
  background-size: contain;
  background-repeat: no-repeat;
	height: 32px;
  width: 49.14px;
  align-self: flex-start;
  margin-top: 16px;
  margin-left: 16px;
}
.myCampus {
  background-image: url('../icons/mittcampus_logga.svg');
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  margin: 0;
	height: 35px;
  width: 188px;
  padding: 2%;
  font-size: 27px;
}
