.headerHome {
  height: 257px;
  width: 375px;
  background-image: url('../icons/kthSchool.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.notification {
    margin: 0;
    padding: 0;
  	height: 56px;
    width: 287px;
    border-radius: 0 3px 0 0;
    background-color: #F9F9F9;
    position: absolute;
    bottom: -1px;
    left: 72px;
    font-size: 10.4px;
    font-weight: 300;
    letter-spacing: 0.26px;
    line-height: 14px;
}
.messageBold {
  height: 17px;
  width: 241px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 17px;
  margin-top: 11px;
  margin-left: 8px;
  margin-right: 13px;
}
.messagelight {
  font-family: "Open Sans";
  color: black;
  font-size: 10.4px;
  font-weight: 300;
  letter-spacing: 0.26px;
  line-height: 14px;
  margin-left: 8px;
  margin-right: 16px;
}
.notificationIcon {
  height: 56px;
  width: 56px;
  border-radius: 3px 0 0 3px;
  position: absolute;
  bottom: -1px;
  left: 16px;
  background-color: #FFEB00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errIcon {
  box-sizing: border-box;
  background-image: url('../icons/driftstorning.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25.33px;
  width: 14.75px;
}
.arrow {
  background-image: url('../icons/framot_pil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 16.49px;
  position: absolute;
  top: 26px;
  right: 11.51px;
  bottom: 22px;
}
