.Navbar {
  height: 43px;
  background-color: #6EC81E;
  width: 90%;
  position: fixed;
  bottom: 16px;
}
.Navbar.closed{
  transition: 2s;
}
.Navbar.open {
  height: 379px;
  transition: 2s;
}

ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  color: #FFFFFF;
  font-family: "Chronicle Deck Cond";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
/* p {
  height: 16px;
  width: 140px;
  color: #FFFFFF;
  font-family: "Chronicle Deck Cond";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
} */

/* Hamburger icon */
span {
  top: 10px;
}
.nav-toggle {
  position: absolute;
  left: 45%;
  bottom: 8px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  border: none;
  background-color: transparent;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5.71px;
  width: 31.38px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 0.5s ease-in-out;
}
.nav-toggle.active span {
  background-color: #6EC81E;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}
