.navbar {
  height: 43px;
  background-color: #6EC81E;
  width: 92%;
  position: fixed;
  bottom: 16px;
  left: 16px;
  margin-top: 16px;
  border-radius: 3px;
  z-index: 10;
}

.navbar.Closed{
  transition: 1s;
}
.navbar.Open {
  height: 57.3vh;
  transition: 2s;
  z-index: 100;
  bottom: 16px;
  left: 16px;
  transition: 1s;
}

.staticMenu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  color: #FFFFFF;
  font-family: "Chronicle Deck Cond";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  transition: all 0.8s;
  z-index: 10;
}
.staticMenu.Closed {
  transition: all 0.8s;
}
/* Hamburger icon */
span {
  top: 10px;
}
.navToggle {
  position: absolute;
  left: 46%;
  bottom: 8px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  border: none;
  outline: none;
  background-color: transparent;
}
.navToggle span, .navToggle span:before, .navToggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5.71px;
  width: 31.38px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.navToggle span:before {
  top: -10px;
}
.navToggle span:after {
  bottom: -10px;
}

.navToggle span, .navToggle span:before, .navToggle span:after {
  transition: all 0.5s ease-in-out;
}
.navToggle.Active span {
  background-color: #6EC81E;
}
.navToggle.Active span:before, .navToggle.Active span:after {
  top: 0;
}
.navToggle.Active span:before {
  transform: rotate(45deg);
}
.navToggle.Active span:after {
  transform: rotate(-45deg);
}
