.page.Error {
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.errorForm {
  position: relative;
  z-index: 100;
	height: 840px;
  width: 343px;
  margin-top: 72px;
  border-radius: 3px;
  background-color: #0094BB;
  color: white;
}
.errorHeader {
  height: 32px;
  width: 143px;
  font-family: "Chronicle Deck Cond";
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-left: 16px;
  margin-bottom: 17px;
  margin-top: 22px;
}
.labelForName {
  height: 22px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.inputForName {
	height: 32px;
  width: 311px;
  border-radius: 3px;
  background-color: #FFFFFF;
  outline: none;
  border: none;
}

.inputForName input[type=text] {
  height: 22px;
  width: 139px;
  opacity: 0.25;
  color: #424242;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.labelForMessage {
  height: 96px;
  width: 311px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: none;
  resize: none;
}
.buttonForForm {
  height: 32px;
  width: 80px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: none;
  color: #424242;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  margin: 17px 16px 72px 247px;
  cursor: pointer;
}
.formWrapper {
  display: flex;
  align-items: flex-start;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 23px;
  flex-direction: column;
}
.cross {
  height: 24px;
  width: 24px;
  background-image: url('../../icons/stang.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 16px;
  left: 145px;
}
