* {
    margin: 0;
    padding: 0;
}
.test a {
  text-decoration: none;
}
.SidebarMeny {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 104px);
  grid-template-rows: repeat(2, 104px);
  grid-gap: 16px;
}
@media screen and (max-width: 350px) {
  .SidebarMeny {
    grid-template-columns: repeat(2, 104px);
    grid-template-rows: repeat(3, 104px);
  }
}

.SidebarLink {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}
.HouseEvents{
  background-color: #FFEB00;
}
.MyConnections{
  background-color: #00953F;
}
.ErrorPage{
  background-color: #0094BB;
}

.EventPage{
  background-color: #EE7F00;
}
.Map{
  background-color: #59539B;
}
.Extra{
  color: #6EC81E;
  box-shadow: inset 0px 0px 0px 3px #6EC81E;
}
