.page.Connections {
  left: 0;
  margin: 0;
  padding: 0;

}
.connectionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.connectionsIcon {
  background-image: url('../../icons/kontakter_green.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 55.81px;
  width: 42.38px;
  margin-bottom: 15px;
}

.connectionsImage {
  float: left;
  background-image: url('../../images/stig.png');
  background-repeat: no-repeat;
  height: 104px;
  width: 104px;
  border-radius: 3px;
  background-size: cover;
}
.connectionsImage.Two {
  background-image: url('../../images/jeanette.png');
}
.connectionsImage.Three {
  background-image: url('../../images/roy.png');
}
.connectionsBox {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 40px;
  width: 40px;
  border-radius: 3px;
  position: absolute;
}
.Phone {
  background-color: #6EC81E;
  right: 16px;
  bottom: 8px;
}
.Mail {
  right: 80px;
  bottom: 8px;
  background-color: #0094BB;
}
.connectionsMail {
  background-image: url('../../icons/mail.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 14.36px;
  width: 20.51px;
}
.connectionsPhone {
  background-image: url('../../icons/telefon.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 19.12px;
  width: 21.68px;
}
.connectionsContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 46px;
}
