@font-face {
  font-family: 'Chronicle Deck Cond';
  src: url('/Font/ChronicleDeckCond-Semibold.otf');
}
html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rectangle {
  height: 40px;
  width: 343px;
  margin-top: 16px;
  border: 3px solid #FCEB4F;
  background-color: #FFEB00;
}
.sidebarPosition{
  position: fixed;
  bottom: 81px;
  top: 368px;
  left: 16px;
}
.page {
  color: black;
}

div {
  color: black!important;
}
a {
  text-decoration: none;
}
