html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: black!important;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    color: tomato;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.TopBar a {
    margin-right: 18px;
    text-decoration: none;
}
.animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100px;
    height: 100px;
}


.page p {
background-color: black;
}
