@font-face {
  font-family: 'Chronicle Deck Cond';
  src: url('/Font/ChronicleDispLight.woff2');
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rectangle {
  height: 40px;
  width: 343px;
  margin-top: 16px;
  border: 3px solid #FCEB4F;
  background-color: #FFEB00;
}
.sidebarPosition{
  display: flex;
  justify-content: center;
  margin-top: 21px;
}
.page {
  color: black;
}

.toggleLink {
  height: 40px;
  width: 27px;
  position: relative;
  left: 76px;
  bottom: 236px;
}

.homePageWrapper {
  width: 100%;
}
