html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App-header {
  height: 257px;
  width: 375px;
}
.rectangle {
  height: 40px;
  width: 343px;
  margin-top: 16px;
  border: 3px solid #FCEB4F;
  background-color: #FFEB00;
}
.SidebarPosition{
  position: fixed;
  bottom: 81px;
  top: 368px;
  left: 16px;
}
.page {
  color: black;
}
.page.error {
  left: 15px;
  width: 92%;
  border-radius: 3px;
  background-color: #0094BB;
}
<<<<<<< HEAD
div {
  color: black!important;
=======
.page.error div{
display:flex;
align-items: flex-start;
flex-direction: column;
padding:10px;
}
.page.error .name, .email, .phone {
  width:80%;
}
.page.error .adress {
  width:70%;
>>>>>>> 8f837e0df10411f9ac34bde7bcaa9e8494448a0c
}
