li {
  list-style: none;
}
.backToMainPage {
  background-image: url('../../icons/bakot_pil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 12px;
  left: 12px;
  height: 20px;
  width: 24px;
}

.newsWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disturbanceIcon {
  background-image: url('../../icons/driftstorning.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
  height: 55.81px;
  width: 42.38px;
}
.newsBox {
  height: 104px;
  width: 343px;
  background-color: #FFFFFF;
  margin: 16px;
  position: relative;
}
.iconWrapper {
  float: left;
  height: 104px;
  width: 104px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEB00;
}
.disturbanceImage {
  background-image: url('../../icons/hjalm.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 50.66px;
}

.disturbanceImage.Two {
  background-image: url('../../icons/vatten_stopp.svg');
}

.disturbanceImage.Three {
  background-image: url('../../icons/mala.svg');
}

.newsContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 46px;
}
.contentBold {
  display: flex;
  justify-content: flex-start;
  margin-left: 66px;
  margin-top: 23px;
	height: 21px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 22px;
}

.contentLight {
  display: flex;
  justify-content: flex-start;
  margin-left: 67px;
  height: 21px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 19px;
}

.newsHeader {
	height: 24px;
  color: #000000;
  font-family: "Chronicle Deck Cond";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 29px;
  text-align: center;
  margin-top:
}
.newsSchool {
  height: 27px;
  width: 197px;
  color: #000000;
  font-family: "Chronicle Deck Cond";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 19px;
  text-align: center;
  margin-top: 18px;
}
.newsArrow {
  background-image: url('../../icons/framot_pil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 11.82px;
  bottom: 42.82px;
  height: 17.36px;
  width: 20px;
  margin: 0;
  padding: 0;
}
